@import "partials/variables";

// Add slugs as the name of each colour and then the hex code
$palette: (
  color-ekol-main: $color-ekol-main,
  color-ekol-second: $color-ekol-second,
  color-ekol-third: $color-ekol-third-opa,
  color-ekol-forth: $color-ekol-forth-opa,
);

// no need to touch this part, this will create all the necessary classes
@each $colour in $palette {
  .has-#{nth($colour, 1)}-background-color {
    background: nth($colour, 2);
  }
  .has-#{nth($colour, 1)}-color {
    color:nth($colour, 2);
  }
}
