/*
 Theme Name:           ekol-20ct
 Theme URI:            https://www.ekonomikontoretonline.se/
 Description:          A child theme of Twenty Twenty WordPress theme.
 Author:               Karl Lettenström
 Author URI:           https://kprl.se
 Template:             twentytwenty
 Version:              1.0.4
 License:              GNU General Public License v2 or later
 License URI:          http://www.gnu.org/licenses/gpl-2.0.html
*/


@import "partials/variables";
@import "editor";

html {
  scroll-behavior: smooth;
}

body {
	font-family: $base-font-family;
	color: $text-color;
}

.admin-bar #site-header {
    top: 32px;
}

.bg-gradient-a-to-b, .cover-header-inner-wrapper {
  $gradient-color-left: $color-ekol-forth-opa;
  $gradient-color-right: $color-ekol-white-opa;
  background: $gradient-color-right;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $gradient-color-left, $gradient-color-right);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $gradient-color-left, $gradient-color-right); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;

	.cover-header-inner {
		@media (max-width: $tablet-small) {
			margin-bottom: 35%;
		}
	}
}

h1, h2, h3, h4, h5, .entry-title {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $text-color;
}

h1, .entry-title {
	font-size: 4.8rem;
	text-align: left;
	font-weight: bold;

	@media (max-width: $tablet-small) {
		font-size: 3rem !important;
	}
}

h2 {
	font-size: 4.2rem;
	font-weight: bold;
}

h3 {
	font-size: 3.3rem;
	font-weight: bold;
}

.button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"], .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, :root .has-accent-background-color, .comment-reply-link {
	background-color: $color-ekol-main !important;
	color: #ffffff !important;
}

#site-header {
	background: transparent;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
	transition: 0.5s;

	&:hover {
		background: rgba($color-ekol-main, 0.25) !important;
	}
}

#site-content .entry-header-inner, .post-meta-wrapper {
    max-width: 120rem;
}

.site-title a, .overlay-header .primary-menu > li > a, .overlay-header #site-header .toggle, .overlay-header .toggle-inner .toggle-text, body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) #site-header .toggle, body:not(.overlay-header) .toggle-inner .toggle-text, body:not(.overlay-header) .primary-menu > li > .icon {
	color: #ffffff !important;
}

.home {

	.entry-header {
		.entry-title {
			span {
				display: block;
			}
			span:first-child {
				color: #ffffff;
			}
			span:nth-child(2) {
				color: $color-ekol-fifth;
			}
			span:nth-child(3) {
				color: $color-ekol-main;
			}
		}

		.wp-block-buttons {
			display: inline-block;
			position: relative;
			@media (min-width: $tablet-small) {
				top: -100px;
			}
		}
	}
}

.singular .entry-header {
    background-color: transparent;
}

.post-inner {
	padding-top: 10rem !important;
}

.entry-content {
	font-family: $base-font-family;
	color: $text-color;

	.wp-block-group.alignfull {
		margin-top: -10rem !important;
		margin-bottom: 10rem !important;

		@media (max-width: $tablet-small) {
			padding-top: 10rem !important;
		}

		h1, h2, h3, h4, h5, .entry-title {
			margin-top: 0px;
		}
	}
}

.educations {
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax($tablet-small, 1fr));
	// grid-column-gap: 20px;
	// grid-row-gap: 20px;
	columns: 2;
	@media (max-width: $tablet-small) {
		columns: 1;
	}

	.education-title {
		margin-top: 1rem;
	}

	.education_1 {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.education_2 {
		grid-row: 1/3;
	}

	ul {
		margin-left: 10px;
	}
}

#site-footer {
	padding-bottom: 0px;

	.footer-info {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax($mobile-large, 1fr));
		h3, span, p, div {
			color: #ffffff;
		}

		h3 {
			margin-top: 0px;
		}

		.footer-contact {
			background: $color-ekol-main-opa;
			background-image: url('http://media.ekonomikontoretonline.se/2021/01/notebook-1280538-scaled-1.jpg');
			background-blend-mode: soft-light;
			background-position: center;
			background-size: cover;
			display: flex;
			justify-content: space-around;
			align-items: center;

			.footer-contact-box {
				background: $color-ekol-second-opa;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				padding: 25px;
				margin: 25px auto;

				div {
					display: contents;
					font-weight: 600;
					a {
						font-size: larger;
					}
				}
			}
		}
		.footer-map {
			background: #ccc;
		}
	}
}
