.has-colour-background-color {
  background: #FF0000; }

.has-colour-color {
  color: #FF0000; }

.has-colour-two-background-color {
  background: #001EFF; }

.has-colour-two-color {
  color: #001EFF; }

.has-colour-three-background-color {
  background: #00FF00; }

.has-colour-three-color {
  color: #00FF00; }

.has-colour-four-background-color {
  background: #F6FF00; }

.has-colour-four-color {
  color: #F6FF00; }
