@charset "UTF-8";
/*
 Theme Name:           ekol-20ct
 Theme URI:            https://www.ekonomikontoretonline.se/
 Description:          A child theme of Twenty Twenty WordPress theme.
 Author:               Karl Lettenström
 Author URI:           https://kprl.se
 Template:             twentytwenty
 Version:              1.0.4
 License:              GNU General Public License v2 or later
 License URI:          http://www.gnu.org/licenses/gpl-2.0.html
*/
.has-color-ekol-main-background-color {
  background: #e76824;
}

.has-color-ekol-main-color {
  color: #e76824;
}

.has-color-ekol-second-background-color {
  background: #1f2c2f;
}

.has-color-ekol-second-color {
  color: #1f2c2f;
}

.has-color-ekol-third-background-color {
  background: rgba(41, 50, 50, 0.59);
}

.has-color-ekol-third-color {
  color: rgba(41, 50, 50, 0.59);
}

.has-color-ekol-forth-background-color {
  background: rgba(28, 18, 49, 0.5);
}

.has-color-ekol-forth-color {
  color: rgba(28, 18, 49, 0.5);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #3b4545;
}

.admin-bar #site-header {
  top: 32px;
}

.bg-gradient-a-to-b, .cover-header-inner-wrapper {
  background: rgba(255, 255, 255, 0.1);
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(28, 18, 49, 0.5), rgba(255, 255, 255, 0.1));
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(28, 18, 49, 0.5)), to(rgba(255, 255, 255, 0.1)));
  background: -webkit-linear-gradient(left, rgba(28, 18, 49, 0.5), rgba(255, 255, 255, 0.1));
  background: -o-linear-gradient(left, rgba(28, 18, 49, 0.5), rgba(255, 255, 255, 0.1));
  background: linear-gradient(to right, rgba(28, 18, 49, 0.5), rgba(255, 255, 255, 0.1));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

@media (max-width: 480px) {
  .bg-gradient-a-to-b .cover-header-inner, .cover-header-inner-wrapper .cover-header-inner {
    margin-bottom: 35%;
  }
}

h1, h2, h3, h4, h5, .entry-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3b4545;
}

h1, .entry-title {
  font-size: 4.8rem;
  text-align: left;
  font-weight: bold;
}

@media (max-width: 480px) {
  h1, .entry-title {
    font-size: 3rem !important;
  }
}

h2 {
  font-size: 4.2rem;
  font-weight: bold;
}

h3 {
  font-size: 3.3rem;
  font-weight: bold;
}

.button, .faux-button, .wp-block-button__link, .wp-block-file .wp-block-file__button, input[type="button"], input[type="reset"], input[type="submit"], .bg-accent, .bg-accent-hover:hover, .bg-accent-hover:focus, :root .has-accent-background-color, .comment-reply-link {
  background-color: #e76824 !important;
  color: #ffffff !important;
} 

#site-header {
  background: transparent;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#site-header:hover {
  background: rgba(231, 104, 36, 0.25) !important;
}

#site-content .entry-header-inner, .post-meta-wrapper {
  max-width: 120rem;
}

.site-title a, .overlay-header .primary-menu > li > a, .overlay-header #site-header .toggle, .overlay-header .toggle-inner .toggle-text, body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) #site-header .toggle, body:not(.overlay-header) .toggle-inner .toggle-text, body:not(.overlay-header) .primary-menu > li > .icon {
  color: #ffffff !important;
}

.home .entry-header .entry-title span {
  display: block;
}

.home .entry-header .entry-title span:first-child {
  color: #ffffff;
}

.home .entry-header .entry-title span:nth-child(2) {
  color: #f6b98f;
}

.home .entry-header .entry-title span:nth-child(3) {
  color: #e76824;
}

.home .entry-header .wp-block-buttons {
  display: inline-block;
  position: relative;
}

@media (min-width: 480px) {
  .home .entry-header .wp-block-buttons {
    top: -100px;
  }
}

.singular .entry-header {
  background-color: transparent;
}

.post-inner {
  padding-top: 10rem !important;
}

.entry-content {
  font-family: Helvetica, Arial, sans-serif;
  color: #3b4545;
}

.entry-content .wp-block-group.alignfull {
  margin-top: -10rem !important;
  margin-bottom: 10rem !important;
}

@media (max-width: 480px) {
  .entry-content .wp-block-group.alignfull {
    padding-top: 10rem !important;
  }
}

.entry-content .wp-block-group.alignfull h1, .entry-content .wp-block-group.alignfull h2, .entry-content .wp-block-group.alignfull h3, .entry-content .wp-block-group.alignfull h4, .entry-content .wp-block-group.alignfull h5, .entry-content .wp-block-group.alignfull .entry-title {
  margin-top: 0px;
}

.educations {
  -webkit-columns: 2;
  columns: 2;
}

@media (max-width: 480px) {
  .educations {
    -webkit-columns: 1;
    columns: 1;
  }
}

.educations .education-title {
  margin-top: 1rem;
}

.educations .education_1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.educations .education_2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.educations ul {
  margin-left: 10px;
}

#site-footer {
  padding-bottom: 0px;
}

#site-footer .footer-info {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

#site-footer .footer-info h3, #site-footer .footer-info span, #site-footer .footer-info p, #site-footer .footer-info div {
  color: #ffffff;
}

#site-footer .footer-info h3 {
  margin-top: 0px;
}

#site-footer .footer-info .footer-contact {
  background: rgba(231, 104, 36, 0.5);
  background-image: url("http://media.ekonomikontoretonline.se/2021/01/notebook-1280538-scaled-1.jpg");
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#site-footer .footer-info .footer-contact .footer-contact-box {
  background: rgba(31, 44, 47, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 25px;
  margin: 25px auto;
}

#site-footer .footer-info .footer-contact .footer-contact-box div {
  display: contents;
  font-weight: 600;
}

#site-footer .footer-info .footer-contact .footer-contact-box div a {
  font-size: larger;
}

#site-footer .footer-info .footer-map {
  background: #ccc;
}
