// COLORS
$color-ekol-main:           #e76824;
$color-ekol-main-opa:       rgba($color-ekol-main, 0.50);
$color-ekol-second:         #1f2c2f;
$color-ekol-second-opa:     rgba($color-ekol-second, 0.80);
$color-ekol-third:          #293232;
$color-ekol-third-opa:      rgba($color-ekol-third, 0.59);
$color-ekol-forth:          #1c1231;
$color-ekol-forth-opa:      rgba($color-ekol-forth, 0.50);
$color-ekol-fifth:          #f6b98f;
$color-ekol-dark:           #3b4545;
$color-ekol-darker:         #181818;
$color-ekol-darker-opa:     rgba($color-ekol-darker, 0.80);
$color-ekol-black:          #000000;
$color-ekol-black-opa:      rgba($color-ekol-black, 0.08);
$color-ekol-white:          #ffffff;
$color-ekol-white-opa:      rgba($color-ekol-white, 0.10);
$color-ekol-grey:           #c7cdd2;

// TEXT
$font-weight-light:    300;
$font-weight-regular:  500;
$font-weight-bold:     600;
$font-weight-bolder:   700;
$font-weight-heavy:    800;

$font-size-xx-small:   10px;
$font-size-x-small:    11px;
$font-size-small:      14px;
$font-size-regular:    16px;
$font-size-large:      20px;
$font-size-x-large:    24px;
$font-size-xx-large:   34px;
$font-size-xxx-large:  40px;
$font-size-mega:       80px;

$text-color:          $color-ekol-dark;
$base-font-size:      $font-size-regular;
$base-font-family:    Helvetica, Arial, sans-serif;
$second-font-family:  NonBreakingSpaceOverride, "Hoefler Text", Garamond, "Times New Roman", serif;
$base-font-weight:    $font-weight-regular;
$base-line-height:    1.6;

// RESOLUTIONS
$mobile-small:    240px;
$mobile-large:    320px;
$mobile-iphoneX:  812px;
$tablet-small:    480px;
$tablet-large:    768px;
$screen-small:    1024px;
$screen-large:    1280px;
$screen-xlarge:   1640px;

// MISC
$base-transition-time:     0.2s;
$header-footer-overlap:    3rem;
$header-footer-border:     1px solid $color-ekol-grey;
